* { /* default stylings */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2ebe3;
    display: inline-flex;
    padding-top: 250px;
    padding-left: 730px;
    justify-content: center;
    align-items: flex-start;
}

.card {
    display: flex;
    align-items: flex-start;
}

/* Styling the right side containing the texts  */
.right-container {
    display: flex;
    padding: 58px 44px;
    border-radius: 0px 20px 20px 0px;
    background: #FFF;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.heading-1 { /*Styling the heading*/
    color: #6C7289;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 8.4px;
}

.heading-2 {
    width: 271px;
    color: #1C232B;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.main-text { /*styling paragraph*/
    width: 271px;
    color: #6C7289;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.4px;
}

/* styling the new and old prices */
.prices {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}
.newprice {
    color: #3C8067;
    font-family: Fraunces;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.oldprice {
    color: #6C7289;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: line-through;
    padding: 5px 0px;
}

/* styling the Button */
.button {
    display: flex;
    /* overflow: hidden; */
    padding: 27px 104px;
    border-radius: 10px ;
    border-color: #FFF;
    background: #3C8067;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 26px;
}

.button-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}